extends layout

block content
  h1= title
  p Toto řešení je budováno na otevřených technologiích a standardech
	
  <h4><a href="/api-docs/v1">Interaktivní návrh API rozhraní</a></h4><br/>
  <h4><a href="/api-logs/gateway/get-gateway-logs">Provozní monitoring a audit log</a></h4>

